{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Chess Statistics</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <script type = "text/javascript" src ="{% static 'js/jquery.js' %}"></script>
    </head>

    

    <body>
        <div class = "header">
            <div class = "home">
                <a href="/" class = "home">Chesstics</a>   
            </div>

            <div class = "analysis">
                <a href="/analysis">Analysis</a>
            </div>
            
            <div class = "addData">
                <a href="/add">Add Data</a>
            </div>

            <div class = "addData" style="width:200px">
                <a href="https://en.wikipedia.org/wiki/Algebraic_notation_(chess)">What is notation?</a>
            </div>
        </div>

        <form  method = "POST" class="justify-content-center row mt-4 mb-2">{% csrf_token%}
            <div class="col-sm-9">
                <input type="text" name = "notation" class="form-control" placeholder="ex)d4 d5">
            </div>
            <div class="col-auto">
                <button type = "submit" class="btn btn-dark mb-3">Search</button>
            </div>
        </form>

        <div style = "width: 600px; margin:auto; margin-top: 100px;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link" href="/analysis">white</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/analysis/1">{{mn.0}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="">{{mn.1}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/analysis/3">{{mn.2}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/analysis/4">{{mn.3}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analysis/5">{{mn.4}}</a>
                </li>
            </ul>
            <table class="table table-secondary table-bordered">
                <tbody>
                    <tr>
                        <th class = "col-md-2">Next Move</th>
                        <th class = "col-md-3">Frequency</th>
                        <th class = "col-md-3">Winning Rate</th>
                    </tr>
                    {% for x in mbn %}
                    {% with forloop.counter|cut:" " as index%}
                    <tr>
                        <td>{{x}}</td>
                        <td>{{mbr|slice:index|last}}</td>
                        <td>{{mbwr|slice:index|last}}</td>
                    </tr>
                    {% endwith %}
                    {% endfor %}

                </tbody>
            </table>


            
        </div>

    </body>
</html>
